<div class="grid-100 middle-container">
  <div class="grid-33 tablet-grid-33 mobile-grid-100 middle-left">
    <h2>About Me
    </h2>
    <p>My name is Brandon and I am a tech enthusiast. I have been a professional front end developer for about two years now.</p>
    <p>In my spare time I make desktop applications and automation scripts using Python, which is also my favorite language.</p>
    <p>I also use Swift to make iPhone apps and am learning more about that every time I get a chance.</p>
  </div>
  <div class="grid-33 tablet-grid-33 mobile-grid-100 middle">
    <h2>Skills and Knowledge
    </h2>
    <ul>
      <li>I use a few different programming languages for different things :
        <ul>
          <li>HTML, CSS, and Javascript for front end development</li>
          <li>Python for custom desktop applications and automation to make every day tasks easier.</li>
          <li>Swift and XCode IDE to make iPhone applications.</li>
        </ul>
      </li>
      <li>Website Design using Sketch App</li>
      <li>Creating websites using a mobile first approach</li>
    </ul>
  </div>

  <div class="grid-33 tablet-grid-33 mobile-grid-100 middle-right">
    <h2>Tools I Use
    </h2>
    <ul>
      <li>Macbook Pro</li>
      <li>Asus PC Running Zorin Linux</li>
      <li>Asus Monitor - 23"</li>
      <li>Logitech 600 Mouse</li>
      <li>Audio Techinca Headset</li>
      <li>Atom, Sublime Text</li>
      <li>XCode</li>
      <li>PyCharm</li>
      <li>Sketch App</li>
    </ul>

  </div>
</div>