<div class="grid-100 bottom-container">
  <h2>Skill Level - Out of 100%</h2>
  <div class="grid-100 html">
    <div class="grid-10">
      <h3>HTML</h3>
    </div>
    <div class="grid-90">
      <span></span>
    </div>
  </div>
  <div class="grid-100 css">

    <div class="grid-10">
      <h3>CSS</h3>
    </div>

    <div class="grid-90">
      <span class="css"></span>
    </div>
  </div>
  <div class="grid-100 js">
    <div class="grid-10">
      <h3>JS</h3>
    </div>

    <div class="grid-90">
      <span class="js"></span>
    </div>
  </div>
  <div class="grid-100 python">
    <div class="grid-10">
      <h3>Python</h3>
    </div>

    <div class="grid-90">
      <span class="python"></span>
    </div>
  </div>
  <div class="grid-100 swift">
    <div class="grid-10">
      <h3>Swift</h3>
    </div>
    <div class="grid-90">
      <span class="swift"></span>
    </div>
  </div>
</div>
<div class="grid-100 faq">
  <h2>Frequently Asked Questions</h2>
  <h3>This is a collection of questions I commonly get asked from other developers or individuals that are aspiring to become
    a deveolper.</h3>
  <h3>Do you have to go to college to become a developer?</h3>
  <p>You don't have to get a degree or anything to be a developer. I taught myself to code and never actually went to college.
    This field is more about experience and capability than anything else.</p>
  <h3>Why do you use Linux and macOS instead of Windows?</h3>
  <p>I actually use Windows at work because that is what the pc they gave me has on it. I prefer mac or linux because of the
    extra security and believe the look of those operating systems is far better than Windows. Before I learned how to code
    I was an IT professional for about three years. In that time I got tired of windows and decided to make a switch. Also,
    some programs like Sketch App are not available for Windows so I use my macbook for that. In all reality I can code on
    a Dell from 2005 running Linux and be completely happy. Having a mac is just a perk of the job.</p>
  <h3>What are your goals for the future?</h3>
  <p>I plan on being good at multiple kinds of development. Professionally I am moving more toward a software developer role
    using Python currently. However, I will always work with websites even if it is just something I do in my spare time.</p>
  <h3>If there are any other questions about my path as a developer or future plans please send an email to
    <a href="mailto:bc.whisnant@gmail.com">bc.whisnant@gmail.com</a>
  </h3>
</div>
